

		<div class="main">
			 <h1> 
			   <%= image_for @user %>
			   <%= @user.name %>

			</h1>    
        </div>

        <div class="main">
            <strong>Favorite Spots</strong>
            <li>
              <% @user.favorite_spots.each do |spot| %>
                <%= render "spots/object", :object => spot %>
              <% end %>
            </li>
        </div>


