jQuery ->
    $('body').prepend('<div id="fb-root"></div>')

    $.ajax
        url: "#{window.location.protocol}//connect.facebook.net/en_US/all.js"
        dataType: 'script'
        cache: true


window.fbAsyncInit = ->
    FB.init(appId: '<%= CONSTANTS[:fb_id] %>', cookie: true, version: 'v2.6')

    $('#fb_sign_in').click (e) ->
        e.preventDefault()
        FB.login (response) ->
                window.location = '/tokens/web_external_auth?access_token=' + response.authResponse.accessToken + "&expiresIn=" +
                        response.authResponse.expiresIn + "&provider=facebook"  if response.authResponse
            , {scope: 'public_profile,email'}

    $('#sign_out').click (e) ->
        FB.getLoginStatus (response) ->
            FB.logout() if response.authResponse
        true
